*{
            margin: 0px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }
        ::-webkit-scrollbar{
            display: none;
        }
        img{
          width: 100vw;                      
        }
        a{ 
           color: white;
          
           display: block;
           background-color: red;
           padding: 20px;
           font-weight: bold;
           text-align: center;
           text-decoration: none;
         }
         a:hover{
            background-color: rgb(224, 55, 55);
            transition: 0.3s;
         }